
nav{
    width: fill;
    // border-bottom: 1px solid rgba(11, 47, 55, 0.4);
    box-shadow: 0px 1px 4px 0px rgba(11, 47, 55, 0.4);
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    background: transparent;
}

