@for (item of this.ElementList; track $index) {
  <div>
    @switch (item.type) 
    { 
      @case ("DropDown") 
      {
      
         <app-drop-down 
            [Options]="p(item | as : DropDownNavBarElement)"  
            [Name]="item.Name" 
            [style]="'dropdown-open-left'"  
            ></app-drop-down> 

      
      } 

      @case ("Toggle")
      {
      
        <app-toggle
          
          [href]="(item | as : ToggleNavBarElement).href"
          [void]="(item | as : ToggleNavBarElement).Function"
          
        ></app-toggle>
      } 

      @case ("ComponentToggle")
      {
      
        <app-component-toggle
          
          [href]="(item | as : ComponentToggleNavBarElement).href"
          [component]="(item | as : ComponentToggleNavBarElement).componentType"
          
        ></app-component-toggle>
      } 

      @default 
      {
      
        <a [href]="(item | as : LinkNavBarElement).link">{{ item.Name }}</a>
      
      } 
    }
    
  </div>
<!-- @if(item.type == ){

      <app-drop-down [style]="'dropdown-open-left'" [Options]="p(item)" [Name]="item.Name" [ButtonStyle]="buttonstyle"></app-drop-down>

      } @else {
      
      } -->

}
