.dropdown-img{
    transition: transform .1s !important ;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
  }
  img{
      width: 17px;
  }
  
  .dropdown-img:hover{
    background-color: rgb(225, 225, 225);
    transform: scale(1.2)
  }